

{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">

  </head>

  <body>



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">


      <div class="jumbotron">

        <h1>{{user_profile.username}}</h1>
        <p>write a little something about yourself</p>



        {% if current_user in friends %}
          <a href="{% url 'friends:change_friends' 'lose' user_profile.id %}"><button type="button" name="btn btn-warning">UnFriend</button></a>
        {% else %}
          <a href="{% url 'friends:change_friends' 'add' user_profile.id %}"><button type="button" name="btn btn-success">Befriend</button></a>
        {% endif %}


      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>My Groups</h2>
          <div class="my_groups">
            <ul class="list-group list-group-flush">
              {% for group in groups %}
                <li class="list-group-item"><a href="#">{{group.name}}</a></li>
              {% endfor %}
            </ul>

          </div>
          {# <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> #}
          <p><a class="btn btn-default" href="{% url 'groups:create' %}" role="button">Create Group<span class="glyphicon glyphicon-plus-sign" style="margin-left:5px;"></span> </a></p>
        </div>
        <div class="col-md-4">
          <h2>My Posts</h2>
          <div class="my_groups">
            <ul class="list-group list-group-flush">
              {% for post in posts %}
                <li class="list-group-item"><a href="#">{{post.title}}</a><strong id="post_likes_total">({{post.likes_total}} likes)</strong></li>
              {% endfor %}
            </ul>

          </div>
          <p><a class="btn btn-default" href="#" role="button">See All Posts</a></p>
       </div>
        <div class="col-md-4">

          <h2>My Friends</h2>
          <div class="my_friends">
            <ul class="list-group list-group-flush">
              {% for friend in friends %}
                <li class="list-group-item"><a href="{% url 'accounts:profile' friend.id %}">{{friend.username}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>


        <div class="row">
          <div class="col-md-4">
            <h2>My Pictures</h2>
            <div class="my_pics">

                {% for pic in pics %}
                    <img src="{{pic.image.url}}" height="100" width="100">
                {% endfor %}

            </div>
            <p><a class="btn btn-default" href="{% url 'accounts:upload_pics' current_user.id %}" role="button">Upload Pictures &raquo;</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <h2>All Users</h2>
          <div class="all_users">
            <ul class="list-group list-group-flush">
              {% for single_user in all_users %}
                <li class="list-group-item"><a href="{% url 'accounts:profile' single_user.id %}">{{single_user.username}}||{{single_user.id}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>My Locations</h2>
          <div class="user_locations">

              {% for location in locations %}
                <a href="{% url 'locations:edit' user_profile.id location.id%}">{{location.city}}</a> <br>
                {# {{location.position}} #}
                {# <li class="list-group-item"><a href="{% url 'accounts:profile' single_user.id %}">{{single_user.username}}||{{single_user.id}}</a></li> #}
              {% endfor %}

          </div>
          <p><a class="btn btn-default" href="{% url 'locations:create' user_profile.id %}" role="button">Add Location &raquo;</a></p>
        </div>








      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>






    {% endblock %}
